DATABASE_URL=postgresql://postgres:postgres@localhost:5432/saque_v2?schema=public

QUANTUM_API_BASE=https://api.quantumpayments.com.br/v1
QUANTUM_BASIC_AUTH=Basic Og==
QUANTUM_WITHDRAW_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Intervalo padrão se não vier do banco
WORKER_INTERVAL_SECONDS=30
