PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/saque_v2?schema=public

# QuantumPayments
QUANTUM_API_BASE=https://api.quantumpayments.com.br/v1
QUANTUM_BASIC_AUTH=Basic Og==
QUANTUM_WITHDRAW_KEY=

# Admin auth simples (para endpoints administrativos)
ADMIN_TOKEN_CHANGE_ME=
